@page "/comics/issues/{id}"
@using ComixHub.Blazor.Data;
@using ComixHub.Blazor.Shared.Services;
@inject IssuesService IssuesService
@inject NavigationService NavigationService

<div class="actions">
    <button class="btn btn-outline-dark" @onclick="GoBack">
        <span class="oi oi-arrow-left"></span>
        BACK
    </button>
</div>

@if (issue is not null)
{
    <h3>@issue.Title</h3>
    <span>@issue.PublishDate</span>

    <p>@issue.Description</p>

    <figure>
        <img src=@issue.ImageUrl alt="@($"{issue.Title} image")" />
    </figure>

    <table>
        <tbody>
            <tr>
                <td class="label">Rating:</td>
                <td>@issue.Rating</td>
            </tr>
            <tr>
                <td class="label">Price:</td>
                <td>@issue.Price</td>
            </tr>
            <tr>
                <td class="label">Writer:</td>
                <td>@issue.Writer</td>
            </tr>
            <tr>
                <td class="label">Inker:</td>
                <td>@issue.Inker</td>
            </tr>
            <tr>
                <td class="label">Colorist:</td>
                <td>@issue.Colorist</td>
            </tr>
            <tr>
                <td class="label">Letterer:</td>
                <td>@issue.Letterer</td>
            </tr>
            <tr>
                <td class="label">Penciler:</td>
                <td>@issue.Penciler</td>
            </tr>
            <tr>
                <td class="label">Editor:</td>
                <td>@issue.Editor</td>
            </tr>
        </tbody>
    </table>

}
